name: Build and Deploy Code

on: [push, pull_request]

jobs:
    job1:
        runs-on: ubuntu-latest

        steps:
        - name: pulling git repo
          uses: actions/checkout@v4
        
        - name: Set up Python
            uses: actions/setup-python@v4
            with:
                python-version: '3.11.9'

        - name: update pip
          run: pip install --upgrade pip
        - name: install dependencies
          run: pip install -r requirements.txt
