name: Build and Deploy Code

on: [push, pull_request]

env:
    DATABASE_HOSTNAME: ${{ secrets.DATABASE_HOSTNAME }}
    DATABASE_PORT: ${{ secrets.DATABASE_PORT }}
    DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
    DATABASE_NAME: ${{ secrets.DATABASE_NAME }}
    DATABASE_USERNAME: ${{ secrets.DATABASE_USERNAME }}
    SECRET_KEY: ${{ secrets.SECRET_KEY }}
    ALGORITHM: ${{ secrets.ALGORITHM }}
    ACCESS_TOKEN_EXPIRE_MINUTES: ${{ secrets.ACCESS_TOKEN_EXPIRE_MINUTES }}

jobs:
    job1:
        runs-on: ubuntu-latest

        steps:
        - name: pulling git repo
          uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.11.9'

        - name: install dependencies
          run: |
            pip install --upgrade pip
            pip install pytest
            pip install -r requirements.txt

        - name: run tests with pytest
          run: pytest tests/
